.dashboard {
  margin-left: 275px;
  background-color: #efefef;
  width: 80%;
}

.grid-container {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  /* grid-gap: 5px; */
  /* grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 1fr;
  grid-auto-flow: column; */
  /* grid-auto-columns: 1fr; */
  background-color: #fff;
  color: #444;
}

.grid-column {
  display: flex;
  width: 600px;
}

.vertical-header {
  height: 53px;
  margin: 2px;
}

.space {
  height: 28px;
}

.grid-item {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 90%;
}