.dashboard {
  margin-left: 275px;
  background-color: #efefef;
  width: 80%;
}

.grid-container {
  display: flex;
}

.grid-column {
  display: flex;
  width: 600px;
}

.vertical-header {
  height: 57px;
  margin-bottom: 3px;
}

.space {
  height: 28px;
}

.grid-item {
  background-color: rgb(142, 140, 140);
  color: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 95%;
}