.data-cell {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  background-color: rgba(157, 157, 157, 0.36);
  margin: 3px;
}
